/* dark grey */


/* white */


/* ye nahi pata ? */

body {
    /*background: #333;
  color: #fff;
  /* 14:44 sec */
}

.featurette-divider {
  margin-top: 80px;
  margin-bottom: 80px;
}

.marketer {
  margin-top: 80px;
}

.footer-bottom{
  background: #3d6277;
  padding: 1em;
}